In [4]:
import pandas as pd
from sklearn.datasets import load_iris

# Muat dataset Iris
iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df['species'] = iris.target_names[iris.target]

In [ ]:
#Fungsi Random Sampling
import random
def data_sampler(df, replacement):
    def sample(sample_size):
        if replacement:
            return [random.choice(df.index) for _ in range(sample_size)]
        else:
            return random.sample(list(df.index), sample_size)

    return sample

In [5]:
# Contoh penggunaan pada spesies Setosa dengan sampel acak sebanyak 5
sampel_iris = data_sampler(iris_df[iris_df['species'] == 'setosa'], replacement=True)
sampled_final = sampel_iris(5)
print("Sampel Acak:", sampled_final)
print("Dataframe Sampel Acak:")
print(iris_df.loc[sampled_final])

Sampel Acak: [15, 0, 32, 39, 36]
Dataframe Sampel Acak:
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
15                5.7               4.4                1.5               0.4
0                 5.1               3.5                1.4               0.2
32                5.2               4.1                1.5               0.1
39                5.1               3.4                1.5               0.2
36                5.5               3.5                1.3               0.2

   species
15  setosa
0   setosa
32  setosa
39  setosa
36  setosa

In [6]:
# Contoh penggunaan pada spesies Versicolor dengan sampel acak sebanyak 5
sampel_iris = data_sampler(iris_df[iris_df['species'] == 'versicolor'], replacement=False)
sampled_final = sampel_iris(5)
print("Sampel Acak:", sampled_final)
print("Dataframe Sampel Acak:")
print(iris_df.loc[sampled_final])

Sampel Acak: [75, 72, 58, 91, 88]
Dataframe Sampel Acak:
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
75                6.6               3.0                4.4               1.4
72                6.3               2.5                4.9               1.5
58                6.6               2.9                4.6               1.3
91                6.1               3.0                4.6               1.4
88                5.6               3.0                4.1               1.3

       species
75  versicolor
72  versicolor
58  versicolor
91  versicolor
88  versicolor

In [8]:
# Contoh penggunaan pada spesies Virginica dengan sampel acak sebanyak 5
sampel_iris = data_sampler(iris_df[iris_df['species'] == 'virginica'], replacement=False)
sampled_final = sampel_iris(5)
print("Sampel Acak:", sampled_final)
print("Dataframe Sampel Acak:")
print(iris_df.loc[sampled_final])

Sampel Acak: [117, 130, 115, 135, 132]
Dataframe Sampel Acak:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
117                7.7               3.8                6.7               2.2
130                7.4               2.8                6.1               1.9
115                6.4               3.2                5.3               2.3
135                7.7               3.0                6.1               2.3
132                6.4               2.8                5.6               2.2

       species
117  virginica
130  virginica
115  virginica
135  virginica
132  virginica